body {
    background-color: rgb(33, 33, 33);
    background-size: cover;
    background-position: center;
    margin: 0px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
#principal {
    margin: 0;
}
#principal h1, h2 {
    font-family: Monte;
    margin: 20px 25px;
}
#principal h1 {
    font-size: 30px;
}
#principal h2 {
    font-size: 25px;
}
p {
    font-family: Monte;
    font-size: 20px;
    padding: 5px;
    margin: 45px 30px;
    color: white;
}
caption {
    font-family: Bebas Neue;
    font-size: 20px;
    padding: 5px;
}
#cabra {
    display: block;
    margin: auto;
    position: relative;
}
#conta {
    position: relative;
}
#start {
    position: relative;
    left: 600px;
    bottom: 300px;
}
header {
    flex-wrap: wrap;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
footer {
    font-family: Bebas Neue;
    background-color: black;
    padding: 20px;
    margin: 10px;
}
#BS {
    color: blueviolet;
    text-shadow: 2px 2px 0px rgb( 40 40 100);
    font-family: Metal Mania;
    display: inline;
}
.ass {
    display: flex;
    align-items: center;
    position: relative;
    width: 40%;
    max-width: 300px;
    display: inline-block;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
.ass img {
    width: 100%;
    max-width: 300px;
    height: 200px;
    border: 5px solid white;
}
.hazard {
    text-align: center;
    font-size: 30px;
}
.hazard img {
    margin-left: 20px;
    width: 600px;
    height: auto;
}
.titulo {
    color: white;
    font-family: monospace;
    text-decoration: none;
    font-size: medium;
    background-color: rgba(150, 150, 150, 0.5);
    padding: 5px;
    position: absolute;
    width: 100%;
    max-width: 400px;
    bottom: 10px;
}
.integrante {
    position: relative;
    width: 50%;
    max-width: 150px;
    display: inline-block;
    align-items: center;
    margin-right: 1%;
    margin-left: 100px;
}
.integrante img {
    width: 100%;
    max-width: 150px;
    border: 4px solid white;
}
.bio {
    font-family: Monte;
    color: black;
    background-color: white;
    font-size: 14px;
    position: absolute;
    padding: 5px;
    bottom: 10px;
    width: 50%;
    max-width: 150px;
}
table {
    margin: auto;
    width: 800px;
    border-collapse: collapse;
}
td, th {
    font-family: Bebas Neue;
    font-size: 20px;
    color: blueviolet;
    background-color: rgb( 40 40 100);
    padding: 8px 12px;
    border: 1px solid white;
}

nav {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav a {
    font-family: Monte;
    color: white;
    text-shadow: crimson 2px 2px 0px;
    text-decoration: none;
    font-size: 20px;
}
nav a:active {
    position: relative;
    left: -3px;
    top: -3px;
}
nav a:hover {
    color: blueviolet;
    text-shadow: 2px 2px 0px rgb( 40 40 100);
    text-decoration: underline;
}
nav li{
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
}
.legenda {
    margin: 10px;
    padding: 0px;
    font-size: 15px;
    color: gray;
    text-align: center;
}
header h1 {
    font-family: Metal Mania;
    text-shadow: 3px 3px 0px crimson;
    font-size: 40px;
}
header h2 {
    font-family: Bebas Neue;
    text-shadow: 2px 2px 0px crimson;
    font-size: 35px;
}
header::selection {
    background-color: crimson;
}



@font-face {
  font-family: 'Metal Mania';
  src: url(fonts/MetalMania-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url(fonts/BebasNeue-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Monte';
    src: url(fonts/Montserrat-Light.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'roboto';
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
    font-style: normal;
    font-weight: 100;
}

